.input5 {
    max-width: 200px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #222;
    padding: 15px 5px 10px 20px;
    box-shadow: inset 4px 4px 4px rgba(15, 15, 15, 0.315), 4px 4px 4px rgba(28, 28, 28, 0.13);
    border-radius: 12px;
    background-clip: padding-box;
}

.input5:focus {
    padding-bottom: 10px;
}

.input5::placeholder {
    color: #222;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: .3px;
}

.input5:focus::placeholder {
    color: #999;
}


/* ==== */


/* .usertbl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

table.neumorphic {
    width: 75%;
    margin-left: 320px;
    border-spacing: 0;
    color: #212121;
    text-align: center;
    overflow: hidden;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.6);
}

table.neumorphic thead {
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6);
}

table.neumorphic th {
    padding: 7px;
}

table.neumorphic>tbody>tr>td {
    padding: 10px;
    font-size: 14px;
    position: relative;
}

table.neumorphic>tbody>tr:hover {
    padding: 20px;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.6);
}

table.neumorphic tr td:first-child::before {
    content: "";
    position: absolute;
    padding: 7px;
    top: 0;
    left: -5000px;
    width: 10000px;
    height: 100%;
    z-index: -10;
}

table.neumorphic td:hover::after {
    content: "";
    position: absolute;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.6);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

.button3 {
    background-color: #cd1717;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button4 {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hjgf {
    margin-left: 700px;
    margin-top: 30px;
}